In [25]:
#Import packages and csv file

import pandas as pd
df = pd.read_csv('ZILL-Z91655_2B.csv')
df

         Date     Value
0  2016-06-30  348900.0
1  2016-05-31  355200.0
2  2015-12-31  352800.0
3  2015-10-31  352800.0

In [26]:
#Setting index
df.set_index('Date', inplace=True)
df

               Value
Date
2016-06-30  348900.0
2016-05-31  355200.0
2015-12-31  352800.0
2015-10-31  352800.0

In [27]:
#Moving this to a new csv

df.to_csv('ZILLnew.csv')

In [28]:
#Redefining the data frame

df = pd.read_csv('ZILLnew.csv')
df

         Date     Value
0  2016-06-30  348900.0
1  2016-05-31  355200.0
2  2015-12-31  352800.0
3  2015-10-31  352800.0

In [29]:
#Removing the default index
df = pd.read_csv('ZILLnew.csv', index_col=0)
df

               Value
Date
2016-06-30  348900.0
2016-05-31  355200.0
2015-12-31  352800.0
2015-10-31  352800.0

In [30]:
#Renaming the Value column

df.columns = ['Michigan_HPI']
df

            Michigan_HPI
Date
2016-06-30      348900.0
2016-05-31      355200.0
2015-12-31      352800.0
2015-10-31      352800.0

In [33]:
#Moving this to a new csv

df.to_csv('ZILLnew2.csv')

In [41]:
#Making a new csv file with no appeared headers

df.to_csv('ZILLnew3.csv', header = False)

In [43]:
#Reading the same csv file with header

df = pd.read_csv('ZILLnew3.csv', names = ['Date', 'Michigan_HPI'], index_col=0)
df

            Michigan_HPI
Date
2016-06-30      348900.0
2016-05-31      355200.0
2015-12-31      352800.0
2015-10-31      352800.0

In [44]:
#Converting file into HTML Table file

df.to_html('example.html')

In [49]:
#Renaming columns

df.rename(columns ={'Michigan_HPI':'7777_HPI'}, inplace=True)
df

            7777_HPI
Date
2016-06-30  348900.0
2016-05-31  355200.0
2015-12-31  352800.0
2015-10-31  352800.0