In [37]:
# Importing all dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

In [38]:
#Creating a webstat data frame

web_stats = {'Day':[1,2,3,4,5,6], 'Visitors':[43,53,34,45,64,34], 'Bounce_Rate': [65, 72, 62, 64, 54, 66]}
df = pd.DataFrame(web_stats)
df

   Bounce_Rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45
4           54    5        64
5           66    6        34

In [39]:
#Setting the index to Day instead of the default index
df.set_index('Day')

     Bounce_Rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45
5             54        64
6             66        34

In [40]:
df.Visitors

0    43
1    53
2    34
3    45
4    64
5    34
Name: Visitors, dtype: int64

In [41]:
#For data sets with spaces in name of columns, better use this:

df['Visitors']

0    43
1    53
2    34
3    45
4    64
5    34
Name: Visitors, dtype: int64

In [42]:
#Calling two columns

df[['Visitors', 'Bounce_Rate']]

   Visitors  Bounce_Rate
0        43           65
1        53           72
2        34           62
3        45           64
4        64           54
5        34           66

In [43]:
#Converting a column to list
df.Visitors.tolist()

[43L, 53L, 34L, 45L, 64L, 34L]

In [44]:
#Inorder to convert multiple columns to list we need to import numpy for array as the previous tolist function wont work

np.array(df[['Visitors', 'Bounce_Rate']])

array([[43, 65],
       [53, 72],
       [34, 62],
       [45, 64],
       [64, 54],
       [34, 66]], dtype=int64)